---
layout: default
---
<div class="col01">
  {% for post in paginator.posts %} 
    <article class="post type-post status-publish format-standard entry {% for tag in post.tags %}{{ tag }} {% endfor %}">

      <a href="{{ post.url }}">
        <div class="date-tab">
          <span class="month">{{ post.date | date: '%Y' }} {{ post.date | date: '%b' }}.</span>
          <span class="day">{{ post.date | date: '%d' }}</span>
        </div>
      </a>
      <h1>
        <a href="{{ post.url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a>
      </h1>
    
      <div class="post-inner">
        {% if post.logo %}
        <img src="{{ post.logo | relative_url }}" width="175px" align="right" margin="5px"/>
        {% endif %}
          {{ post.excerpt }}
      </div>
    </article>
  {% endfor %}

  <!-- Pagination links -->
  {% if paginator.total_pages > 1 %}
    <div class="pagination">
    {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
    {% else %}
      <span>&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
      {% if page == paginator.page %}
        <em>{{ page }}</em>
      {% elsif page == 1 %}
        <a href="{{ site.url }}">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
      {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
    {% else %}
      <span>Next &raquo;</span>
    {% endif %}
  </div>
{% endif %}
</div>
