section, article, header, footer, nav, aside, hgroup { display: block; }

[hidden] { display: none; }

html { 
        background: url('/assets/bkgnd_sm2.png') no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}

/* Links
-------------------------------------------------------------- */
a:link {
	text-decoration: none;
	color: #3B59E9;}
a:visited {
	text-decoration: none;
	color: #3B59E9;}
a:hover,
a:active {
	text-decoration: none;
	color: #3B59E9;}

/* Align
-------------------------------------------------------------- */
.aligncenter,
div.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
	text-align: center; }
.alignleft {
	float: left; }
.alignright {
	float: right; }

/* Background
-------------------------------------------------------------- */
body {
	margin: 0;
	font-size: 100%;
	font-family: "Patrick Hand", Arial, cursive; 
	color: #3B59E9;}
.site-header {
	width: 960px;
	margin: 0 auto;
	position: relative;
	height: 238px; }

/* Blog Title
-------------------------------------------------------------- */
#title {
	width: 52%;
	height: 70%;
	margin: auto;
	overflow: hidden;
	word-wrap: break-word;
	}
#title a { color: #eeeeee;
	text-decoration: none;
	text-shadow: 0 0 5px #636363;}

#title a:hover { text-decoration: none; }
.logo { position: absolute; }
.site-title {
	font-size: 300%;
	line-height: 0.8;
	margin: 0;
	text-align: center;
	position: relative;
	padding: 58px 0 10px; }
.site-description {
	font-size: 140%;
	color: #636363;
	text-align: center;
	position: relative;
	margin: 0; 
	text-shadow: 0 0 5px #eeeeee;}
.site-description .home-link a {
	text-decoration: none; }
.site-header .home-link a:hover {
	text-decoration: none;
	border-bottom: 1px solid #e7d8cf; }

/* Assistive Text
-------------------------------------------------------------- */
.screen-reader-text {
	position: absolute !important;
	clip: rect(1px, 1px, 1px, 1px); }

/* Content (Column 1)
-------------------------------------------------------------- */
#content {
	background: url(/assets/notepad-middle.png) repeat-y;
	width: 870px;
	margin: 0 auto;
	padding: 0 20px 0 70px;
	word-wrap: break-word; }

code {
	margin: 3px;
	background: #ececec;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: block;
	overflow-x: auto; 
	width: 100%}
table {
	border-collapse: collapse;
	border-spacing: 0;
	text-align: left;
	width: 100%;
	margin: 1.5em 0;
	padding: 1em;
	line-height: 2;
	font-size: 90%; }
th {
	border: 1px solid #111;
	padding: .5em .5em;
	text-align: center; }
tbody tr:nth-child(odd) {
	background: #EEE;
	background: rgba(0, 0, 0, 0.08);
	border: none; }

blockquote {
	border-left: 1px solid #bbb;
	font-family: Georgia, serif;
	font-size: 18px;
	font-style: italic;
	width: 450px;
	margin: 0.25em 0;
	padding: 0.25em 40px;
	line-height: 1.45;
	position: relative;
	color: #383838;
	background: #ececec; }
blockquote:before {
	display: block;
	content: "\201C";
	font-size: 80px;
	position: absolute;
	left: -10px;
	top: -10px;
	color: #7a7a7a; }
blockquote cite {
	text-align: right;
	color: #2B2A2A;
	font-size: 14px;
	display: block;
	margin-top: 5px; }
blockquote cite:before {
	content: "\2014 \2009"; }
td.gutter.gl {
	padding-right: 10px;
}

#content .col01 {
	float: left;
	width: 73%;
	padding-bottom: 3px;
	font-size: 100%;
	line-height: 125%; }
#content .col01 h1 {
	text-align: center;
	font-size: 150%;
	line-height: 110%;
	font-weight: normal;
	font-family: "Patrick Hand", Arial, cursive;
	margin: 0;
	padding: 0 0 10px;
	overflow: hidden;
	background: url("/assets/line.png") repeat-x bottom; }
#content .col01 h1 a {
	text-decoration: none; }
#content .col01 h1 a:hover { color: gray; }
#content .col01 h2,
#content .col01 h3,
#content .col01 h4,
#content .col01 h5,
#content .col01 h6 {
	text-align: center; }
#content .col01 .post {
	padding-top: 5px;
	padding-bottom: 30px; }
#content .col01 .thumbnail {
	float: right;
	margin: 10px 0 10px 10px; }
#content .col01 .tagsandcopy {
	font-size: 90%;
	margin-bottom: 0; }

/* Author info box after post
-------------------------------------------------------------- */
/* Transforme author-avatar */
#content .col01 .author-info {
	border-top: 2px solid #939393;
	border-bottom: 2px solid #939393;
	text-align: left;
	font-size: 120%;
	margin-top: 10px; }
#content .col01 .author-info .author-description {
	margin-top: -13px; }
#content .col01 .author-info .author-title {
	width: 85%;
	text-align: center;
	line-height: 100%;
	padding-top: 1px; }
#content .col01 .author-info p.author-bio {
	margin-left: 1px; }

#content .col01 .meta {
	font-size: 90%;
	text-align: right;
	padding-top: 8px;
	background: url(/assets/line.png) repeat-x top; }

#content .col01 .post-inner {
	position: relative;
	padding-top: 20px; }

/* Data-tab (Ribbons)
-------------------------------------------------------------- */
#content .col01 .date-tab {
	position: relative;
	z-index: 1;
	width: 20%;
	float: left;
	font-size: 1.5em;
	font-weight: bold;
	line-height: 70%;
	margin: -5px 10px 10px -90px;
	color: black;
	background-color: #A00B0B;
	border-radius: 8px 1px 1px;
	text-shadow: 0px 1px 2px #C53D3D;
	-webkit-box-shadow: 0px 2px 4px #110303;
	-moz-box-shadow: 0px 2px 4px #110303;
	box-shadow: 0px 2px 4px #110303; }
#content .col01 .date-tab:before {
	content: ' ';
	position: absolute;
	width: 40px;
	height: 0;
	left: -40px;
	top: 30px;
	border-radius: 0 0 10px;
	border-width: 20px 10px;
	border-style: solid;
	border-color: #A00B0B #A00B0B #A00B0B transparent; }
#content .col01 .date-tab:after {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	top: 100%;
	border-radius: 8px 0 0px;
	border-width: 5px 10px;
	border-style: solid;
	border-color: #6D0404 #6D0404 transparent transparent; }
#content .col01 .date-tab .month {
	text-align: right;
	display: block;
	padding: 6px 16px 6px 0;
	font-size: 70%; }
#content .col01 .date-tab .day {
	text-align: right;
	display: block;
	padding: 6px 16px 2px 0;
	font-size: 112%;
	font-weight: bold; }
/* END-Data-tab (Ribbons) */

#content .col01 .post-inner p {
	overflow: visible; }
#content .col01 .post-inner a { text-decoration: underline; }
#content .col01 .thumbnail {
	float: right;
	margin: 12px 0 12px 12px; }
#content .col01 .meta a {
	text-decoration: none; }
#content .col01 .meta a:hover { text-decoration: underline; }

#content .col01 figure  {
	display: inline-block; 
	margin-left: 20px;
	margin-right: 20px;	
}
/* END-Content (Column 1) */

/* Sidebar (Column 2)
-------------------------------------------------------------- */
#sidebar {
	float: right;
	width: 210px;
	font-size: 100%;
	line-height: 110%; }

/* Follow
-------------------------------------------------------------- */
.follow {
	margin-left: 210px;
	height: 0px; }
.follow img {
	height: 80px;
	width: 80px; }

/* Yellow Sticker
-------------------------------------------------------------- */
#sidebar .yellow-sticker-middle {
	width: 212px;
	background: url(/assets/yellow-sticker-middle.png) repeat-y; }
#sidebar .yellow-sticker-middle ul {
	padding: 0;
	margin: 0;
	overflow: hidden; }
#sidebar .yellow-sticker-middle ul li {
	font-size: 100%;
	line-height: 110%;
	list-style: none;
	padding: 0;
	margin: 0; }
#sidebar .yellow-sticker-middle ul li .listMeta { font-size: 10px; }
#sidebar .yellow-sticker-middle ul li a {
	border-top: 1px solid #FFE5BE;
	display: block;
	width: 170px;
	margin-left: 10px;
	padding: 4px 0 4px 25px;
	-webkit-transition: margin .3s;
	-moz-transition: margin .3s;
	-ms-transition: margin .3s;
	-o-transition: margin .3s;
	transition: margin .3s; }
#sidebar .yellow-sticker-middle ul li a:hover {
	text-decoration: bold;
	margin-left: 20px;}
#sidebar .yellow-sticker-bottom {
	width: 188px;
	height: 62px;
	background: url(/assets/yellow-sticker-bottom.png) no-repeat left bottom;
	padding: 12px 12px 0;
	font-size: 100%;
	text-align: right; }

/* White Sticker
-------------------------------------------------------------- */
#sidebar .white-sticker-top {
	height: 124px;
	background: url(/assets/white-sticker-top.png) no-repeat; }
#sidebar .white-sticker-middle {
	width: 212px;
	background: url(/assets/white-sticker-middle.png) repeat-y; }
#sidebar .white-sticker-middle ul {
	padding: 0;
	margin: 0; }
#sidebar .white-sticker-middle ul li {
	font-size: 93%;
	line-height: 130%;
	list-style: none;
	padding: 0;
	margin: 0; }
#sidebar .white-sticker-middle ul li a {
	color: #21565E;
	display: block;
	width: 170px;
	padding: 4px 0 4px 25px; }
#sidebar .white-sticker-middle ul li a:hover {
	text-decoration: none;
	color: #000; }
#sidebar .white-sticker-middle ul li i {
	color: navy;
	font-size: 70%; }
#sidebar .white-sticker-bottom {
	width: 188px;
	height: 62px;
	background: url(/assets/white-sticker-bottom.png) no-repeat;
	padding: 12px 12px 0;
	font-size: 70%;
	text-align: right; }
#sidebar .white-sticker-bottom a { color: #21565E; }
#sidebar .white-sticker-bottom a:hover {
	color: #21565E;
	text-decoration: none; }

/* About Widget */
#sidebar .about-widget {
	background: url(/assets/about-label.png) no-repeat 10px 5px;
	padding: 30px 10px 20px;
	font-family: "Patrick Hand", Arial, cursive;
	font-size: 100%;
	line-height: 110%; }

/* Links Widget */
#sidebar .links-widget {
	text-align: center;
	background: url(/assets/links-label.png) no-repeat 10px 5px;
	padding: 30px 10px 20px; }
#sidebar .links-widget ul {
	margin: 0;
	padding: 0; }
#sidebar .links-widget ul li {
	font-size: 100%;
	line-height: 110%;
	list-style: none;
	background: url(/assets/line.png) no-repeat bottom; }
#sidebar .links-widget ul li a {
	margin: 0 auto;
	display: block;
	width: 186px;
	padding: 3px 0; }
#sidebar .links-widget ul li a:hover {
	text-decoration: bold;}

/* Other Widgets */
#sidebar .widget {
	display: block;
	padding: 10px 10px;
	width: 90%; }
#sidebar .widget-title {
	font-family: 'Permanent Marker'; }

select {
	width: 100%; }
/* END-Sidebar (Column 2) */

/* Responsive * Fluid image, embed, object & video
-------------------------------------------------------------- */

/* Fluid images for posts, comments, and widgets */
img,
.entry-content img,
.entry-summary img,
.comment-content img,
.widget img,
.wp-caption {
	max-width: 100%; }

.size-large {
	height: 100%; }

/* Make sure videos and embeds fit their containers. */
embed,
iframe,
object,
video {
	max-width: 100%; }

/* Image style
-------------------------------------------------------------- */

/* Wrapping text around images
-------------------------------------------------------------- */
img.centered {
	display: block;
	margin-left: auto;
	margin-right: auto; }
img.alignright {
	padding: 4px;
	margin: 0 0 2px 15px;
	display: inline; }
img.alignleft {
	padding: 4px;
	margin: 0 15px 2px 0;
	display: inline; }

/* Miniatures
-------------------------------------------------------------- */
.wp-post-image {
	margin: 10px auto 3px;
	display: block;
	border-bottom: 5px solid #bbb;
	background: #fff;
	border: 1px #ccc solid;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.3);
	box-shadow: 0 1px 3px rgba(0,0,0,0.3); }

/* Footer
-------------------------------------------------------------- */
#footer a {
	text-decoration: none;
	color: #909490; }
#footer a:visited {
	text-decoration: none;
	color: #909490; }
#footer .notepad-bottom {
	width: 960px;
	margin: 0 auto;
	margin-top: -20px;
	position: relative;
	background: url(/assets/notepad-bottom.png) no-repeat;
	min-height: 60px; }
#footer .site-info {
	text-align: center;
	font-size: 92%;
	padding: 1% 0 0 0;
	line-height: 110%;
	overflow: hidden;
	margin-top: 40px;
	color: #ccc;
	position: relative;
	z-index: 10;
	background-color: #2d3032;
	border-top: 1px solid #8A8989; }
#footer .footer {
	background-color: #2d3032;
	text-align: center;
	color: #ccc;
	font-size: 100%;
}
#footer-widgets {
	display: block;
	text-align: initial;
}
#footer-widgets span {
	float: left;
	width: 30%;
	margin-left: 10px;
	margin-right: 10px;
}
/* END-Footer */

/* Comment
-------------------------------------------------------------- */
#submit {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 2px 7px;
	background-color: whitesmoke;
	background-clip: padding-box;
	border-radius: 10px;
	text-shadow: 0 0 1px #AAA; }
#submit:hover {
	text-decoration: none;
	border: 1px solid #000000;
	padding: 2px 7px;
	background-color: whitesmoke;
	background-clip: padding-box;
	border-radius: 10px; }
#author,
#email,
#url,
#comment {
	display: block;
	width: 50%; }
#comment {
	width: 80%;
	height: 100px; }
p.comments-title {
	font-size: 130%;
	font-weight: bold; }

/* Comment list
-------------------------------------------------------------- */
.avatar {
	float: left;
	clear: left;
	margin-top: 10px;
	margin-right: 10px;	
	-webkit-box-shadow: 0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2);
	box-shadow: 0 2px 2px rgba(0,0,0,0.3), -2px 2px 2px rgba(0,0,0,0.2); }
.edit-link {
	display: inline; }
.reply {
	display: inline; }
.commentlist {
	margin: 20px 0;
	padding: 0; }
.commentlist li {
	padding: 12px 0;
	background: url(/assets/line.png) no-repeat bottom;
	line-height: 125%;
	list-style: none; }
.commentlist li a {
	color: #000;
	position: relative;
	text-decoration: none; }
.commentlist li a:hover {
	color: #000;
	text-decoration: none;
	border-bottom: 1px solid #000;
	background: #fffbc1; }
.commentdate {
	display: block;
	padding: 0 0 6px;
	font-size: 60%; }
.commentlist li cite {
	font-weight: bold;
	font-style: normal; }
/* END-Comment */

/************************** Navigation **************************/
/* "Continue reading" button
-------------------------------------------------------------- */
#content .col01 .post-inner a.more-link {
	position: relative;
	display: inline-block;
	color: #000;
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 2px 6px;
	background-color: whitesmoke;
	background-clip: padding-box;
	border-radius: 10px;
	text-shadow: 0 0 1px #AAA; }

/* Next page
-------------------------------------------------------------- */
#content .col01 .post-inner .page-links {
	margin-top: 15px;
	margin-bottom: 10px;
	overflow: hidden;
	text-shadow: 0 0 1px #AAA;
	white-space: nowrap;
	width: 104%;
	line-height: 180%; } 
#content .col01 .post-inner .page-links a {
	text-decoration: none;
	border-bottom: none; }
#content .col01 .post-inner .page-links span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 2px 7px;
	background-color: whitesmoke;
	background-clip: padding-box;
	border-radius: 10px;
	text-transform: uppercase; }
/* End-Breadcrumbs */

/* Breadcrumbs
-------------------------------------------------------------- */
#breadcrumbs {
	margin-top: 5px;
	margin-bottom: 10px;
	overflow: hidden;
	text-shadow: 0 0 1px #AAA;
	white-space: nowrap;
	width: 104%;
	line-height: 180%; } 
#breadcrumbs a,
#breadcrumbs span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 2px 7px;
	background-color: whitesmoke;
	background-clip: padding-box;
	border-radius: 10px; }
/* End-Breadcrumbs */

/* Navigation Links
-------------------------------------------------------------- */
.nav-links {
	color: #000000;
	font-size: 105%;
	font-style: italic;
	font-weight: 300;
	padding: 20px 0; }
/* End-Navigation Links */

/* Page Navigation
-------------------------------------------------------------- */
#page-nav {
	clear: both;
	margin: 5px;
	text-shadow: 0 0 1px #AAA; }
#page-nav a,
#page-nav span {
	text-decoration: none;
	border: 1px solid #BFBFBF;
	padding: 3px 12px;
	background-color: whitesmoke;
	background-clip: padding-box;
	border-radius: 10px;
	text-transform: uppercase; } 
#page-nav a:hover,
#page-nav span.current { border-color: #BFBFBF; }
#page-nav span.current { font-weight: bold; }
.paging-navigation .nav-links {
	margin: 0 auto;
	max-width: 1040px; }
.paging-navigation .nav-previous {
	float: left; }
.paging-navigation .nav-next { text-align: right; }
/* End-Page Navigation */

/* Post Navigation
-------------------------------------------------------------- */
.post-navigation .nav-links {
	margin: 0 auto;
	max-width: 1040px; }
.post-navigation a[rel="next"] {
	float: right;
	text-align: right; }
/* End-Post Navigation */

/* Sitemap Page
-------------------------------------------------------------- */
.html-sitemap h2{
	padding-top: 10px; }
.category {
	list-style: none;
	padding-bottom: 5px; }
.grey {
	color: #777;
	background-color: inherit; }
.cat-posts {
	padding-bottom: 10px;
	padding-top: 10px;
	overflow: hidden; }
.cat-posts li{
	padding-bottom: 5px;
	list-style: square; }
.sitemap-authors li, .sitemap-pages li, .sitemap-archives li {
	padding-bottom: 5px; }

