---
---
<!DOCTYPE html>
<html lang="en-US">
    <head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <link rel="stylesheet" href="{{ "/assets/style.css" | absolute_url }}" type="text/css" media="screen">

	<title>{{ site.name }}</title>
<meta name="robots" content="noindex,follow">
<link href='http://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
<!--<link href='http://fonts.googleapis.com/css?family=Anonymous+Pro:400,700,400italic,700italic' rel='stylesheet' type='text/css'> -->
<script src="{{ "/assets/html5.js" | absolute_url }}"></script>	
<link href="/assets/syntax.css" rel="stylesheet" type="text/css" />

</head>

<body class="home blog custom-background">

<header id="masthead" class="site-header" role="banner">

	<div id="title">
	  <a class="home-link" href="/" rel="home">

	   
	    <h1 class="site-title">{{ site.name }}</h1>
	    <h2 class="site-description">{{ site.description }}</h2>

	  </a>
	</div>

</header>
<section id="content" role="main">

{{ content }}
   
<aside id="sidebar" role="complementary">

<!--FOLLOW-->
    <div class="follow">
        <a href="http://click-to-follow.me/" target="_blank" rel="nofollow">
            <img src="/assets/follow.png" alt="RSS">
        </a>
    </div>
<!--END-FOLLOW-->

<!--YELLOW STICKER-->
<nav class="yellow-sticker-middle">
    <div class="menu">
<ul>
    <li class="page_item"><a href="/" >Home</a></li>
    <li class="page_item"><a href="/tags" >Tags</a></li>
    <li class="page_item"><a href="/categories" >Categories</a></li>
    <li class="page_item"><a href="/about" >About</a></li>
</ul>
    </div>
</nav>
<div class="yellow-sticker-bottom"></div>
<!--END-YELLOW STICKER-->
    {% comment %}
<aside id="archives-3" class="widget widget_archive">
<h3 class="widget-title">Archives</h3>		
<section id="archive">
  <h3>This year's posts</h3>
  {%for post in site.posts %}
    {% unless post.next %}
      <ul class="this">
    {% else %}
      {% capture year %}{{ post.date | date: '%Y' }}{% endcapture %}
      {% capture nyear %}{{ post.next.date | date: '%Y' }}{% endcapture %}
      {% if year != nyear %}
        </ul>
        <h3>{{ post.date | date: '%Y' }}</h3>
        <ul class="past">
      {% endif %}
    {% endunless %}
      <li><time>{{ post.date | date:"%d %b" }}</time><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
</section>
</aside>
{% endcomment %}
{% comment %}
		<aside id="categories-3" class="widget widget_categories"><h3 class="widget-title">Categories</h3>		<ul>
	<li class="cat-item cat-item-6"><a href="https://wp-themes.com/?cat=6">First Child Category</a>
</li>
	<li class="cat-item cat-item-8"><a href="https://wp-themes.com/?cat=8">One Grandchild Category</a>
</li>
	<li class="cat-item cat-item-5"><a href="https://wp-themes.com/?cat=5">Parent</a>
</li>
	<li class="cat-item cat-item-7"><a href="https://wp-themes.com/?cat=7">Second Child Category</a>
</li>
	<li class="cat-item cat-item-1"><a href="https://wp-themes.com/?cat=1">Uncategorized</a>
</li>
		</ul>
</aside>
{% endcomment %}
{% comment %}

<!--LINKS (WIDGET)-->
    <div class="links-widget">
        <p>
            </p><ul>
                <li><a href="http://codex.wordpress.org/">Documentation</a></li>
<li><a href="http://wordpress.org/development/">Development Blog</a></li>
<li><a href="http://wordpress.org/extend/ideas/">Suggest Ideas</a></li>
<li><a href="http://wordpress.org/support/">Support Forum</a></li>
<li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
<li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
<li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
            </ul>
        <p></p>
    </div>

<!--END-LINKS (WIDGET)-->
{% endcomment %}
{% comment %}


<!--WHITE STICKER-->
    <div class="white-sticker-top"></div>
        <nav class="white-sticker-middle">
                                                    <ul>
                    <li>
                        <a href="https://wp-themes.com/?p=19"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Worth A Thousand Words</a>
                    </li>
                </ul>
                            <ul>
                    <li>
                        <a href="https://wp-themes.com/?p=36"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Elements</a>
                    </li>
                </ul>
                            <ul>
                    <li>
                        <a href="https://wp-themes.com/?p=14"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;More Tags</a>
                    </li>
                </ul>
                            <ul>
                    <li>
                        <a href="https://wp-themes.com/?p=8"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;HTML</a>
                    </li>
                </ul>
                            <ul>
                    <li>
                        <a href="https://wp-themes.com/?p=6"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Links</a>
                    </li>
                </ul>
                            <ul>
                    <li>
                        <a href="https://wp-themes.com/?p=4"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Category Hierarchy</a>
                    </li>
                </ul>
                            <ul>
                    <li>
                        <a href="https://wp-themes.com/?p=1"><i class="fa fa-asterisk"></i>&nbsp;&nbsp;Hello world!</a>
                    </li>
                </ul>
                    </nav>
    <div class="white-sticker-bottom"></div>
<!--END-WHITE STICKER-->
{% endcomment %}

</aside><br clear="all">
</section><br clear="all">


<footer id="footer" role="contentinfo">

  <div class="notepad-bottom"></div>

  <div class="site-info">

	<div id="footer-widgets">
		<span></span>
		<span></span>
		<span></span>
	</div>
	<br clear="all">

	  </div>

  <div class="footer">
	<script type="text/javascript" src="/assets/smoothscroll.js"></script>
  </div>

</footer>


</body></html>
